[package]
name = "layer-pack-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
js-sys = "0.3"
layer_pack = { path = "../" }
serde = { version = "1.0", features = ["derive"] }

[profile.release]
lto = true
opt-level = "z"
