name: Rust CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

env:
  CARGO_TERM_COLOR: always
  LPACK_SECURITY_KEY: ${{ secrets.LPACK_SECURITY_KEY || 'demo_security_key_2026_change_me' }}
  LPACK_ENCRYPTION_KEY: ${{ secrets.LPACK_ENCRYPTION_KEY || 'demo_aes_master_key_999_change_me' }}

jobs:
  build:
    name: Build & Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
